{% extends "::base.html.twig" %}

{% block title %}UserBundle:Article:list{% endblock %}

{% block body %}
    <h1>Ajouter un article</h1>
    <div>
        <form action="" method="">
            <input type="text" name="title">
            <input type="text" name="brand">
            <textarea name="description"></textarea>
            <button type="submit">Ajouter</button>
        </form>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
